.square{
  background-color: #d9d9d9;
border-radius: 28px;
height: 425px;
left: 0;
position: fixed;
top: 0;
width: 714px;
}

.top-23 {
  top: 23% !important;
}
.top-45 {
  top: 45% !important;
}
.top-35 {
  top: 35% !important; 
}
.top-34 {
  top: 34% !important; 
}
.top-40 {
  top: 40% !important;
}
.top-48 {
top: 48% !important;
}
.top-55 {
top: 55% !important;
}
.start-48 {
  left: 48% !important;
}
.start-46 {
  left: 46% !important;
}

.start-53 {
  left: 53% !important;
}
.start-56 {
  left: 56% !important;
}
.start-58 {
  left: 58% !important;
}
.start-38 {
  left: 37.8% !important;
}

.mt-6 {
  margin-top: 4.5rem !important;
}
.bottom-90{
  bottom: 90% !important;
}
.semua{
  left: 40px;
}
.btn-login {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8D7F7F;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}
.btn-register {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8D7F7F;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
  opacity: 90%;
}
body{
  font-family: poppins;
}
h1{
  font-weight: 600;
}
.btn-lg{
  --bs-btn-font-size: 1.00rem;
  --bs-btn-padding-x: 1.50rem;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 21px;

}

.navbar-custom{
  background: #D9D9D9;
}

.nav-link{
color: #8D7F7F;
padding-top: 1em;
padding-bottom: 1em;
}
.navbar-brand{
background-color: #554242;
color: #fff;
padding-top: 0.2em;
padding-bottom: 0.4em;
font-weight: 500;
margin-left: -0.3em;
margin-right: 0;
}

.navbar-custom > button{
margin-right:0.5rem;

}
.prof{
right: 10px;
}

.navbar .navbar-nav .nav-link:hover{
background-color: #8D7F7F;
color: #fff;
padding-top: 1em;
}

.navbar{
padding: 0;
}

.navbar-brand:hover, .navbar-brand:focus {
background-color: #382d2d;
color: #c6c5c5;
padding-top: 0.2em;
padding-left: -1em;

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
font-weight: 500;
color: #6d5c5c;
}

.px-3c {
  padding-right: 6.75rem !important;
  padding-left: 5rem !important;
}
.px-3b {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
.mt-c{
margin-top: 7rem !important;
}
.square-reg{
background-color: #d9d9d9;
border-radius: 28px;
height: 720px;
left: 0;
position: fixed;
top: 0;
width: 600px;
}

.form-label-reg {
margin-bottom: 0.2rem;
}
.navbar-custom .form-check-inline {
  margin-right: 0rem;
}
.navbar-custom .form-check {
  padding-left: 0rem;
}
.mx-custom {
  margin-left: 27.5rem !important;
}
.form-text a{
  color: #6d5c5c;
}
.form-text a:hover {
  color: #363131;

}
.navbar .navbar-nav a {
  margin-right: 0px;
}