      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
    
  *{
    font-family: 'Poppins', sans-serif;
  }

  h3{
    font-weight: 800;
  }
  
     
    .form-container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .file-drop-area {
      border: 2px dashed #ccc;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }

    .file-input {
      display: none;
    }

    .file-input-label {
      display: block;
      margin-top: 10px;
    }

    .file-name {
      margin-top: 10px;
    }