:root {
    --primary: #8D7F7F;
    --bg: #f2f2f2;
    --text: #121212;
  }

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.row .list-menu {
    margin-top: 20px;
    margin-right: 10px;
    height: 100%;
    /* height: 39.8rem; */
}

.row .side-menu {
    height: 100vh;
    background-color: #8D7F7F;
    padding-left: 7rem;
    padding-top: 2rem;
}

.row .side-menu h1 {
    font-weight: 800;
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.row .side-menu h5 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.row .side-menu h5 a {
    color: var(--text);
    text-decoration: none;
}
.row .side-menu h5 span {
    margin-right: 1rem;
    height: 50%;
    font-weight: 600;
    font-size: 2rem;
}

.menu {
    background-color: #EFEFEF;
    padding: 1rem;
    padding-left: 2rem;
}

.menu .plus {
    margin: auto;
}

.menu .makanan {
    margin: auto;
}
.navbar .navbar-brand {
    padding-left: 30px;
    font-weight: bold;
    font-size: 22px;
}