  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
    
  *{
    font-family: 'Poppins', sans-serif;
  }

  h3{
    font-weight: 800;
  }

    .nav {
        margin: 0;
    }

    .command {
        margin: 1.5em;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
    }

    .command a {
        margin-right: 7em;
    }

    .btn {
        text-align: center;
        padding: 0.4em;
    }

    .edit {
        padding: 0.6em;
    }

    hr{
        width: 50%;
        font-weight: 800;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1em;
    }

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: start;
    }

    .table th:nth-child(2), .table td:nth-child(2) {
    width: 30%;
    }

    
    .table th:nth-child(5), .table td:nth-child(5) {
    width: 15%;
    }


    .table th {
        background-color: #f2f2f2;
    }
