:root {
    --primary: #61b3ff;
    --bg: #f6fbff;
    --text: #1e1e1e;
  }
  
  * {
    font-family: "Poppins", sans-serif;
  }
  
  html {
    min-height: 1000px;
  }
  
  body {
    background-color: var(--bg);
  }
  
  .navbar {
    background-color: #fff;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.15);
    position: fixed;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-brand {
    padding-left: 30px;
    font-weight: bold;
    font-size: 22px;
  }
  
  .navbar .navbar-brand img {
    margin-right: 20px;
  }
  
  .navbar .navbar-nav {
    margin-right: -10px;
    font-weight: 500;
    font-size: 16px;
  }
  
  .navbar .navbar-nav a {
    margin-right: 50px;
  }
  
  .navbar .navbar-nav .login {
    /* background-color: var(--primary);
    color: var(--bg); */
    border-radius: 50%;
    width: 85px;
    text-align: center;
  }

  .navbar .profile-nav, img {
    border-radius: 50%;
  }
  
  .hero .jumbotron {
    margin-top: 164px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .hero .jumbotron .left-side {
    /* flex: 2 2 30rem; */
    /* flex-shrink: 10; */
    flex-grow: 10;
    /* margin-top: 100px; */
  }
  
  .hero .jumbotron .left-side h1 {
    font-weight: bold;
    font-size: 3rem;
    width: 35%;
    padding-top: 65px;
    padding-left: 50px;
    width: 60%;
  }
  
  .hero .jumbotron .lead {
    padding-top: 35px;
    padding-left: 50px;
    width: 30%;
    font-weight: 400;
    font-size: 1rem;
    width: 50%;
  }
  
  .hero .jumbotron .lead .btn {
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary);
    border: none;
    margin-top: -50px;
    padding: 10px 30px;
  }
  
  .hero .jumbotron .hero-img {
    /* float: right; */
    margin-top: 15px;
    margin-right: 50px;
  }
  
  .hero .jumbotron .right-side {
    flex: 1 1 30rem;
  }
  
  .main .stat {
    display: flex;
  }
  
  .main .stat .stat-1,
  .stat-2,
  .stat-3,
  .stat-4 {
    background-color: var(--primary);
    margin: 20px;
    /* padding: 20px; */
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
    padding-top: 60px;
  }
  
  .main .stat h3 {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .main .stat p {
    font-weight: medium;
    font-size: 1rem;
  }
  
  .main .stat .group-icon {
    font-size: 45px;
  }
  
  .main .stat .love-icon {
    font-size: 45px;
  }
  
  .main .stat .location-icon {
    font-size: 45px;
  }
/* navbar end */

/* profile */
.body{
    background: #f7f7ff;
    margin-top:20px;
}
.posisiatas {
    margin-top:  45px;
}
.card {
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.gantifontfoto{
  font-size: 12px;
}

.card ul li {
  align-items: center;
}

.card ul li h6 {
  margin-left: 5px;
}

